<!--The content below is only a placeholder and can be replaced.-->

<div style="height:2000px;overflow:scroll" (scroll)="onScroll($event)">
  <div style="text-align:center">
    <h1 style="font-size: 40px;">
    Strategic Initatives Fund Dashboard
  </h1>

  </div>

  <div style="text-align:center">
    <!-- <button (click)="projects()" mat-raised-button color="primary">Projects</button> -->
    <button style="background-color: #8C1D40;" (click)="reports()" mat-raised-button color="primary">Reports</button>
    <!-- <button (click)="docpage()" mat-raised-button color="primary">Documents</button> -->
  </div>

  <div *ngIf="allDataFetched" style="margin: 25px;">
    <google-chart [data]="treeChartData"></google-chart>
  </div>

  <div align="center" style="margin-bottom:20px">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="queryString" placeholder="Type to search..." id="search" type="text">
    </mat-form-field>
    <!-- <input type="text" [(ngModel)]="queryString" id="search" placeholder="Type to search..."> -->
  </div>
  <div class="container" fxLayout fxLayoutAlign="center" fxLayoutWrap="wrap" fxLayoutGap="0" fxLayout.xs="column" fxLayoutGap.xs="5px" fxLayout.sm="column" fxLayoutGap.sm="5px">
    <mat-card *ngFor="let state of states | FilterPipe: queryString : searchableList | slice:pageStart:pageEnd" class="example-card" fxFlex="34%">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title><b>{{state.gsx$initiative.$t}}</b></mat-card-title>
        <mat-card-subtitle>{{state.gsx$pi.$t}}</mat-card-subtitle>
        <div align="end" [ngClass] = "state.gsx$type.$t === 'v2.0' && state.gsx$currentreport.$t ? 'greendot' : ''"></div>
        <div align="end" [ngClass] = "state.gsx$type.$t === 'v2.0' && !state.gsx$currentreport.$t && state.gsx$reportingdeadlinepast.$t === 'N' ? 'dot' : ''"></div>
        <div align="end" [ngClass] = "state.gsx$type.$t === 'v2.0' && !state.gsx$currentreport.$t && state.gsx$reportingdeadlinepast.$t === 'Y' ? 'reddot' : ''"></div>



      </mat-card-header>
      
      <mat-card-content>
        <p>
          {{state.gsx$projectdescription.$t}}
        </p>
      </mat-card-content>


      <mat-card-actions>

        <div align="end">
            <span style='position: absolute; left: 20px; bottom: 16px;'>
             {{state.gsx$type.$t}}
                </span>
        <button *ngIf="state.gsx$dropboxlink.$t" mat-button (click)="documents(state.gsx$id.$t)">DOCUMENTS</button>
        <button mat-button (click)="data(state.gsx$id.$t)">DATA</button>
        <button *ngIf="state.gsx$currentreport.$t" mat-button (click)="reporting(state.gsx$id.$t)">REPORTING</button>
        <button *ngIf="!state.gsx$currentreport.$t && state.gsx$pastreport.$t" mat-button (click)="reportingPast(state.gsx$id.$t)">REPORTING</button>
    </div>
      </mat-card-actions>

    </mat-card>

  </div>
</div>

<!-- <button (click)="test()"> TEST </button> -->

<!-- <div align="center">
  <iframe width=595 height=842 id="db" src="https://www.dropbox.com/s/xp8549melc720ym/Get%20Started%20with%20Dropbox.pdf?raw=1"></iframe>
</div> -->
