<div align="center">

<div  *ngIf="allDataFetched" style="margin-bottom:30px; margin-top:15px">
  <h1 >
      {{this.initative[0].gsx$initiative.$t}}
    </h1>
</div>

  <div>
    <button mat-raised-button style="margin-bottom: 30px;" (click)="onBack()"> Go Home </button>
    <button mat-raised-button style="margin-bottom: 20px;" (click)="documents(this.initative[0].gsx$id.$t)"> Documents </button>

  </div>

  <div class="row" style="margin-top: 15px; margin-bottom:50px">

<div *ngIf="allDataFetched" class="col-md-4" style="padding: 0">
Year First Funded:
<br>
{{this.initative[0].gsx$firstyearfunded.$t}}
</div>
<div *ngIf="allDataFetched" class="col-md-4" style="padding: 0">
Funding Since Inception:
<br>
{{initative[0].gsx$fundingsinceinception.$t}}
</div>
<div *ngIf="allDataFetched" class="col-md-4" style="padding: 0">
Year Funding Expires:
<br>
{{this.initative[0].gsx$yearfundingexpires.$t}}
</div>

  </div>

  <ngx-charts-line-chart *ngIf="allDataFetched"
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>


</div>
