<div align="center">

<div style="margin-bottom:30px; margin-top:15px">
  <h1 >
      Strategic Initatives Fund Dashboard
    </h1>
</div>

  <div>
    <button mat-raised-button style="margin-bottom: 30px;" (click)="onBack()"> Go Back </button>
  </div>

  <div class="row" style="margin-top: 15px; margin-bottom:50px">

<div class="col-md-4" style="padding: 0">
Year First Funded:
<br>
2010
</div>
<div class="col-md-4" style="padding: 0">
Funding Since Inception:
<br>
$795,000
</div>
<div class="col-md-4" style="padding: 0">
Year Funding Expires:
<br>
2020
</div>

  </div>

  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>


</div>
