<div align="center">

  <h1 style= "margin-top: 15px; margin-bottom: 20px"> Strategic Initatives Fund Dashboard</h1>

  <div>
    <button mat-raised-button style="margin-bottom: 20px;" (click)="onBack()"> Go Back </button>
  </div>


  <div class="row" style="margin-top: 15px">
    <div class="col-md-4" style="padding: 0">
      Metric #1
    </div>
    <div class="col-md-4" style="padding: 0">
      Metric #2
    </div>
    <div class="col-md-4" style="padding: 0">
      Metric #3
    </div>
  </div>


  <div class="row" style="margin-top: 35px">
    <div class="col-md-4">
      <svg width="480" height="300"></svg>
    </div>
  </div>
</div>
